.routeInputPanel {
    width: 350px;
    height: 100%;
}

.mapPageWrapper {
    display: flex;
    position: relative;
    /*flex-direction: column;*/
    /*align-items: center;*/
    width: 100%;
}

.mapWrapper {
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    height: 100%;
    width: 100%;
}

.featureBtns {
    position: absolute;
    z-index: 1;
    right: 30px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.locationBtn {
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #ffffff;
    color: #014E6D;
    cursor: pointer;
}

.featuresPanel {
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 2px;
    /*border-radius: 10px;*/
    background-color: #ffffff;
    /*box-shadow: #707374;*/
    /*z-index: 1;*/
}

.requestPanel {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.mapInputs {
    display: flex;
    width: 100%;
    gap: 15px;
    justify-content: space-between;
}

.requestButton {
    height: 35px;
    width: 90%;
    min-width: 200px;
    padding-inline-start: 10px;
    /*flex-grow: 1;*/
    border: 1px solid #007cad;
    border-radius: 5px;
    /*outline: none;*/
}

.buttonGroup {
    display: flex;
    width: 100%;
    gap: 5px;
}

.calculateButton {
    width: 80%;
    height: 39px;
    /*border: 1px solid #007cad;*/
    border: none;
    border-radius: 5px;
    background-color: #007cad;
    color: white;
}

.clearBtn {
    text-align: center;
    width: 20%;
    border: none;
    border-radius: 5px;
}

.routeListActions {
    display: flex;
    justify-content: flex-end
}

.resetBtn {
    width: 20%;
    height: 30px;
    margin-block: 10px;
    /*border: 1px solid #007cad;*/
    border: none;
    border-radius: 5px;
    background-color: rgba(1, 78, 109, 0.68);
    color: white;
}

.responsePanel {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.markerLabelStyle {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid rgba(12, 12, 12, 0.86);
    padding: 5px;
    margin-bottom: 0px;
    margin-left: 130px;
    font-weight: bold;
    font-size: 25px
}

