.routeInputPanel {
    width: 350px;
    height: 100%;
}

.mapPageWrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mapWrapper {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.searchPanel {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 4px;
    border-radius: 10px;
    background-color: white;
    box-shadow: #707374;
    z-index: 1;
}

.calculateButton {
    height: 39px;
    /*border: 1px solid #007cad;*/
    border: none;
    border-radius: 5px;
    background-color: #007cad;
    color: white;
}

.requestPanel {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.inputBox {
    height: auto;
}

.requestButton {
    height: 35px;
    min-width: 200px;
    padding-inline-start: 5px;
    flex-grow: 1;
    border: 1px solid #007cad;
    border-radius: 5px;
    outline: none;
}

.buttonGroup {
    display: flex;
    gap: 5px;
}

.clearBtn {
    text-align: center;
    width: 35px;
    border: none;
    border-radius: 5px;
}

.locationBtn {
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 25px;
}

.responsePanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

